## Final Project Submission

Please fill out:
* Student name: Cecily Wahome
* Student pace: part time 
* Scheduled project review date/time: 
* Instructor name: Samuel Karu
* Blog post URL:

In [1]:
import pandas as pd 
import csv
import numpy as np

## Data Loading

In [5]:
box_office_data = pd.read_csv(r'C:\Users\USER\Desktop\Phase_1_Project\dsc-phase-1-project-v2-4-master\zippedData\bom.movie_gross.csv.gz')
tmdb_data = pd.read_csv(r'C:\Users\USER\Desktop\Phase_1_Project\dsc-phase-1-project-v2-4-master\zippedData\tmdb.movies.csv.gz')

# Displaying the first few rows of each dataset
print(box_office_data.head())
print(tmdb_data.head())

                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010
   Unnamed: 0            genre_ids     id original_language  \
0           0      [12, 14, 10751]  12444                en
1           1  [14, 12, 16, 10751]  10191                en
2           2        [12, 28, 878]  10138                en
3           3      [16, 35, 10751]    862                en
4           4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186

## Data cleaning

In [6]:
# Checking for missing values
print(box_office_data.isnull().sum())
print(tmdb_data.isnull().sum())

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [8]:
# Inspecting the columns in both DataFrames
print("Box Office Data Columns: ", box_office_data.columns)
print("TMDb Data Columns: ", tmdb_data.columns)

Box Office Data Columns:  Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')
TMDb Data Columns:  Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [9]:
# Dropping rows with missing values in important columns based on actual columns present
box_office_data.dropna(subset=['domestic_gross', 'foreign_gross', 'title'], inplace=True)

# Check available columns in TMDb data
print("TMDb Data Columns: ", tmdb_data.columns)

# Assuming 'vote_average', 'vote_count', and 'genres' are present after inspection
if 'vote_average' in tmdb_data.columns and 'vote_count' in tmdb_data.columns and 'genres' in tmdb_data.columns:
    tmdb_data.dropna(subset=['vote_average', 'vote_count', 'genres'], inplace=True)
else:
    print("One or more required columns are missing in TMDb data.")

TMDb Data Columns:  Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')
One or more required columns are missing in TMDb data.

In [11]:
#ensuring there are no missing values
print("Box Office Data Missing Values:\n", box_office_data.isnull().sum())
print("TMDb Data Missing Values:\n", tmdb_data.isnull().sum())

Box Office Data Missing Values:
 title             0
studio            2
domestic_gross    0
foreign_gross     0
year              0
dtype: int64
TMDb Data Missing Values:
 Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [12]:
# Dropping rows with missing 'studio' values
box_office_data.dropna(subset=['studio'], inplace=True)