## Final Project Submission

Please fill out:
* Student name: Cecily Wahome
* Student pace: part time 
* Scheduled project review date/time: 
* Instructor name: Samuel Karu
* Blog post URL:

In [1]:
import pandas as pd 
import csv
import numpy as np

## Data Loading

In [5]:
box_office_data = pd.read_csv(r'C:\Users\USER\Desktop\Phase_1_Project\dsc-phase-1-project-v2-4-master\zippedData\bom.movie_gross.csv.gz')
tmdb_data = pd.read_csv(r'C:\Users\USER\Desktop\Phase_1_Project\dsc-phase-1-project-v2-4-master\zippedData\tmdb.movies.csv.gz')

# Displaying the first few rows of each dataset
print(box_office_data.head())
print(tmdb_data.head())

                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010
   Unnamed: 0            genre_ids     id original_language  \
0           0      [12, 14, 10751]  12444                en
1           1  [14, 12, 16, 10751]  10191                en
2           2        [12, 28, 878]  10138                en
3           3      [16, 35, 10751]    862                en
4           4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186

In [15]:
# Checking the Data Types
print("Box Office Data Types:\n", box_office_data.dtypes)
print("TMDb Data Types:\n", tmdb_data.dtypes)

Box Office Data Types:
 title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object
TMDb Data Types:
 Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

## Data cleaning

In [6]:
# Checking for missing values
print(box_office_data.isnull().sum())
print(tmdb_data.isnull().sum())

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [8]:
# Inspecting the columns in both DataFrames
print("Box Office Data Columns: ", box_office_data.columns)
print("TMDb Data Columns: ", tmdb_data.columns)

Box Office Data Columns:  Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')
TMDb Data Columns:  Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [9]:
# Dropping rows with missing values in important columns based on actual columns present
box_office_data.dropna(subset=['domestic_gross', 'foreign_gross', 'title'], inplace=True)

# Check available columns in TMDb data
print("TMDb Data Columns: ", tmdb_data.columns)

# Assuming 'vote_average', 'vote_count', and 'genres' are present after inspection
if 'vote_average' in tmdb_data.columns and 'vote_count' in tmdb_data.columns and 'genres' in tmdb_data.columns:
    tmdb_data.dropna(subset=['vote_average', 'vote_count', 'genres'], inplace=True)
else:
    print("One or more required columns are missing in TMDb data.")

TMDb Data Columns:  Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')
One or more required columns are missing in TMDb data.

In [11]:
#ensuring there are no missing values
print("Box Office Data Missing Values:\n", box_office_data.isnull().sum())
print("TMDb Data Missing Values:\n", tmdb_data.isnull().sum())

Box Office Data Missing Values:
 title             0
studio            2
domestic_gross    0
foreign_gross     0
year              0
dtype: int64
TMDb Data Missing Values:
 Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [12]:
# Dropping rows with missing 'studio' values
box_office_data.dropna(subset=['studio'], inplace=True)

In [13]:
# rechecking there are no missing values
print("Box Office Data Missing Values:\n", box_office_data.isnull().sum())
print("TMDb Data Missing Values:\n", tmdb_data.isnull().sum())

Box Office Data Missing Values:
 title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64
TMDb Data Missing Values:
 Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [14]:
 #Checking for Duplicates
print("Box Office Data Duplicates:\n", box_office_data.duplicated().sum())
print("TMDb Data Duplicates:\n", tmdb_data.duplicated().sum())

Box Office Data Duplicates:
 0
TMDb Data Duplicates:
 0

In [16]:
#reviewing summary statistics for numerical columns to spot any anomalies.
print("Box Office Data Summary:\n", box_office_data.describe())
print("TMDb Data Summary:\n", tmdb_data.describe())

Box Office Data Summary:
        domestic_gross         year
count    2.007000e+03  2007.000000
mean     4.701984e+07  2013.506228
std      8.162689e+07     2.597997
min      4.000000e+02  2010.000000
25%      6.700000e+05  2011.000000
50%      1.670000e+07  2013.000000
75%      5.605000e+07  2016.000000
max      9.367000e+08  2018.000000
TMDb Data Summary:
         Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [17]:
# Converting gross columns to numeric
box_office_data['domestic_gross'] = box_office_data['domestic_gross'].replace('[\$,]', '', regex=True).astype(float)
box_office_data['foreign_gross'] = box_office_data['foreign_gross'].replace('[\$,]', '', regex=True).astype(float)

## Merging Data

In [20]:
# Merging the datasets on the title
merged_data = pd.merge(box_office_data, tmdb_data, left_on='title', right_on='title')

In [21]:
#Confirm merging is successful
print("Shape of box_office_data:", box_office_data.shape)
print("Shape of tmdb_data:", tmdb_data.shape)
print("Shape of merged_data:", merged_data.shape)

print("Missing values in merged_data:\n", merged_data.isnull().sum())
print("First few rows of merged_data:\n", merged_data.head())
print("Columns in merged_data:\n", merged_data.columns)
print("Random sample of merged_data:\n", merged_data.sample(5))

Shape of box_office_data: (2007, 5)
Shape of tmdb_data: (26517, 10)
Shape of merged_data: (1701, 14)
Missing values in merged_data:
 title                0
studio               0
domestic_gross       0
foreign_gross        0
year                 0
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
vote_average         0
vote_count           0
dtype: int64
First few rows of merged_data:
                         title studio  domestic_gross  foreign_gross  year  \
0                 Toy Story 3     BV     415000000.0    652000000.0  2010
1                   Inception     WB     292600000.0    535700000.0  2010
2         Shrek Forever After   P/DW     238700000.0    513900000.0  2010
3  The Twilight Saga: Eclipse   Sum.     300500000.0    398000000.0  2010
4                  Iron Man 2   Par.     312400000.0    311500000.0  2010

   Unnamed: 0                genre_ids     id original_language  \
0           7          [16, 10751, 35]  10193                en
1           4            [28, 878, 12]  27205                en
2          38  [35, 12, 14, 16, 10751]  10192                en
3          15      [12, 14, 18, 10749]  24021                en
4           2            [12, 28, 878]  10138                en

               original_title  popularity release_date  vote_average  \
0                 Toy Story 3      24.445   2010-06-17           7.7
1                   Inception      27.920   2010-07-16           8.3
2         Shrek Forever After      15.041   2010-05-16           6.1
3  The Twilight Saga: Eclipse      20.340   2010-06-23           6.0
4                  Iron Man 2      28.515   2010-05-07           6.8

   vote_count
0        8340
1       22186
2        3843
3        4909
4       12368
Columns in merged_data:
 Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year',
       'Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'vote_average', 'vote_count'],
      dtype='object')
Random sample of merged_data:
                             title  studio  domestic_gross  foreign_gross  \
1509          The Disaster Artist     A24      21100000.0      8700000.0
1005                 The Revenant     Fox     183600000.0    349300000.0
220                    Picture Me  Strand         12000.0        10400.0
881                Step Up All In    LG/S      14900000.0     71300000.0
1332  Keeping Up with the Joneses     Fox      14900000.0     15000000.0

      year  Unnamed: 0           genre_ids      id original_language  \
1509  2017       20740            [35, 18]  371638                en
1005  2015       17411        [37, 18, 12]  281957                en
220   2010        1080                [99]   45320                en
881   2014       11122  [10749, 18, 10402]  243683                en
1332  2016       17522            [28, 35]  331313                en

                   original_title  popularity release_date  vote_average  \
1509          The Disaster Artist      13.270   2017-12-01           7.2
1005                 The Revenant      19.410   2015-12-25           7.4
220                    Picture Me       1.400   2010-09-19           6.8
881                Step Up All In      11.766   2014-07-25           6.8
1332  Keeping Up with the Joneses      11.523   2016-10-21           6.0

      vote_count
1509        1895
1005       11064
220            5
881         1213
1332        1141